:root {
    --beige: #f4cead;
    --brown: #6f4f37;
    --warm-brown: #7d604b;
    --dark-brown: #5e432f;
    --black: #0D0D0D;
    --white: #ffffff;
}

.btn {
    width: 100%;
    background-color: var(--dark-brown );
    color: var(--white);
    margin-top: 10px
}


body {
    background: var(--beige);
}

nav {
    background: var(--brown);
}


.card {
    background: var(--warm-brown);
}




