
:root {
    --beige: #f4cead ;
    --brown: #6f4f37;
    --warm-brown: #7d604b;
    --dark-brown: #5e432f;
    --black: #0D0D0D;
    --white: #ffffff;
}

body {
    background: var(--beige);
}

nav {
    background: var(--brown);
}



.banner {
background: url('#') center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}


.card {
    background: var(--warm-brown);
}


.btn {
    background: var(--dark-brown);
    color: white;
}


 footer p {
    color: var(--beige);
}

footer a {
    color: var(--beige) !important;
}

footer a:hover {
    text-decoration: underline;
}
