<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
</head>
<body>

    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo"> Shop</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Catalogue</a></li>
                <li><a href="/register">Registration</a></li>
                <li><a href="/user/{{ session.get('name') }}">{{ session.get('name') }}</a></li>
            </ul>
        </div>
    </nav>

    <div class="banner">
        there should be a picture here
    </div>

    <div class="container">
        <h3 class="center" style="color: #5e432f;"> We recommend </h3>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="#">
                    </div>
                    <div class="card-content">
                        <p style="color: white">choto1</p>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-custom">buy</button>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="#">
                    </div>
                    <div class="card-content">
                        <p style="color: white">choto2</p>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-custom ">buy</button>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="#">
                    </div>
                    <div class="card-content">
                        <p style="color: white" >chtoto3</p>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-custom" >buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <footer class="page-footer" style="background-color: #6f4f37;">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5>About the shop</h5>
                    <p>it is a second-semester project in GoIteens <br> frontend - chrczq <br> backend - oniqq1</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Contacts</h5>
                    <ul>
                        <li><a href="#">• Instagram</a></li>
                        <li><a href="#">• Facebook</a></li>
                        <li><a href="#">• Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>