<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'logout.css') }}">
    <title>logout</title>
</head>
<body>
    <div class="confirmation">
        <a href="{{ url_for('index') }}" class="btn-flat waves-effect">
        <i class="material-icons">arrow_back</i>
        </a>
        <h1>{{ session.get('name') }}</h1>
        <h2>Are you sure you want to log out?</h2>
        <div class="buttons">
            <form action="/log_out" method="POST">
                <button type="submit" name="exit" value="yes">Yes</button>
            </form>
            <a href="/"><button>No</button></a>
        </div>
    </div>
</body>
</html>